@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

/* INDEX */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}

.header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.article {
    grid-area: article;
        
}

.section {
    grid-area: section;
}

.article-a {
    grid-area: article;
        
}

.section-a {
    grid-area: section;
}
.section-c{
    grid-area: section;
}
.article-c{
    grid-area: article;
}

.footer {
    grid-area: footer;
}
.container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 10%
        "navbar" 5%
        "article" auto
        "section" 25%
        "footer" 10%;   
}
.footer {
    background-color: #454848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.article .container-img {
    
    width: 100%;
    height: 100%;
    background-image: url('../img/article.jpg');
    background-size: cover;
    background-position: center;

}
.social {
    
    display: flex;
    color: white;
    gap: 16px

}
.social i:hover{
    color: #75CFB8
}


.footer .subs {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 16px;
    padding: 6px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16.5px;
}

.footer .subs:hover {
    border: 3px solid #75CFB8;
    background-color: #75CFB8;
}

.footer h5{
    color: white;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.social a {
    color: white;
}
.navbar {
    
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.header {
    background-color: #F0E5D8;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.header .ingresar {
    text-decoration: none;
    color: #454848;
    font-weight: bold;
    border: 2px solid #454848;
    border-radius: 16px;
    padding: 6px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16.5px;
}
.phone {
    display: flex;
    gap: 10px
}
.ingreso {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    color: #454848;
    text-decoration: none;
}

.header .ingresar:hover {
    border: 3px solid #75CFB8;
    background-color: #75CFB8;
    color: white;
}

 .links{
    display: flex;
    color: white;
    gap: 40px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}

.header .logo{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #454848;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

.links a:hover{
    color: #75CFB8
}

.promos {
    display: flex;
    justify-content: center;
    gap: 35px;
    
    

}

.promos .img {
    border-radius: 30px;
    width: 30%;
    padding-top: 15px;
    
}


/* CONTACTO */


.container-c {
    display: grid;
    gap: 10px;
    grid-template: 
        "header header" 10%
        "navbar navbar" 5%
        "article section" auto
        "footer footer" 10% /
          70%     auto; 
}
.section-c {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-c {
    font-family: "Wix Madefor Text", sans-serif;
    width: 100%;
    height: 100%;
    background-image: url(../img/desktop.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px
}

.article-c .data h1 {
    padding-bottom: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color: #75CFB8;
    margin-right: 10px;
    font-size: 25px;
}

.medialinks {
    display: flex;
    gap: 15px;
}

.medialinks > a {
    
    border-radius: 4px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: .1s;
}

.medialinks > a > i {
    color: #75CFB8;
    line-height: 40px;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.section-c form button,
.section-c form input,
.section-c form textarea {
    font-family: "Wix Madefor Text", sans-serif;
    width: 100%;
    padding: .9em;
    border: none;
    background: none;
    outline: none;
    border-bottom:  1px solid black;
   }
.section-c form textarea {
      resize: none;
}   
.section-c form button {
    background: #75CFB8;
    border: none;
    text-transform: uppercase;
    padding: 1em
}
.section-c form button:hover,
.section-c form button:focus{
    background: #88dfca;
    color: white;
    transition: background-color 1s ease-out;
    cursor: pointer;
}

/* PAGINA ABOUT US */
.container-a {
    display: grid;
    gap: 10px;
    grid-template: 
        "header header" 10%
        "navbar navbar" 5%
        "section article" auto 
        "footer footer" 10% /
            60%    auto; 
}

.article-a {
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.cabecera{
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-a {
    width: 100%;
    height: 100%;
    background-image: url('../img/equipoDeTrabajo.jpg');
    background-size: cover;
    background-position: center;
}

.article-a p {
    font-family: "Wix Madefor Text", sans-serif;
    padding-right: 10px;
    text-align: justify;
    line-height: 150%;
    
}
.saludo {
    text-align: left;
    
}
.cabecera {
    
    color: #454848;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
    justify-content: center;
    
}


