* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}
.container > * {
    border: 1px solid;
    text-align: center;
}

.header {
    grid-area: header;
}

.article {
    grid-area: article;
    
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
}
.container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 10%
        "article" auto
        "section" 25%
        "footer" 10%;   
}

.navbar {
    display: flex;
    justify-content: space-around;
}


.footer {
    background-color: #454848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.social {
    
    display: flex;
    color: white;
    gap: 20px

}
.social i:hover{
    color: #75CFB8
}


.footer .subs {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 15px;
    padding: 6px;
}

.footer .subs:hover {
    border: 3px solid #75CFB8;
    background-color: #75CFB8;
}

.footer h5{
    color: white;
}
.social a {
    color: white;
}

